$border: 1px hsla(120, 50, 30, 1) solid;

.card-columns .card {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-columns .card .card-body {
  background-image: url("../../../public/assets/images/adinfondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.card-columns .card .card-img img {
  height: 100%;
  width: 100%;
}
